name: Build and test

on:
  push:
    branches:
      - main
      - 4.5---Long-term-changes
  pull_request:
      branches:
        - main
        - 4.5---Long-term-changes
        

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew build
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          path: build/libs/*.jar
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: extra-plugins/
          merge-multiple: true
      - name: Run tests
        uses: SkriptLang/skript-test-action@feature/performance
        with:
          test_script_directory: src/test/scripts
          extra_plugins_directory: extra-plugins/
