<<<<<<< HEAD:.github/workflows/skript-test.yml
name: Build and test

on:
  - push
  - pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew shadow -Penv=TEST
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          path: build/libs/*.jar
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: extra-plugins/
          merge-multiple: true
      - name: Run tests
        uses: SkriptLang/skript-test-action@feature/performance
        with:
          test_script_directory: src/test/scripts/
          extra_plugins_directory: extra-plugins/
=======
name: SkJson Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Set up JDK 21
        uses: actions/setup-java@v1
        with:
          java-version: 21
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with Gradle
        run: ./gradlew shadow
      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          path: build/libs/*.jar
  test:
    runs-on: ubuntu-latest
    needs: [build]
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: extra-plugins/
          merge-multiple: true
      - name: Run tests
        uses: SkriptLang/skript-test-action@v1.2
        with:
            run_vanilla_tests: false
            test_script_directory: src/test/scripts
            extra_plugins_directory: extra-plugins/
>>>>>>> origin/main:.github/workflows/tests.yml
